<!DOCTYPE html>
<html>
<head>
	<title>Dissimulation</title>
	<meta charset="utf-8">
</head>
<style>
	@font-face {
    	font-family:"Ikaros";
    	src: url("../assets/fonts/Ikaros.otf");
	}

	html{
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	body{
		height: 100%;
		width: 100%;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction:column;
		font-family:"Ikaros";
		font-size:18px;
		color:white;
		text-align:center;
		padding:20px;
		background-color:black;
	}
</style>
<body>
	<p>Cette action à risque vous permet d'opposer deux paires de cartes l'une face à l'autre issue de votre main, le joueur adverse choisis l'une des paires et l'autre vous est directement attribué.</p>
	<p>La paire de carte sera servi aux humains correspondant pour chacun des joueurs.</p>
	<p>Il est de votre intérêt de forcer l'adversaire à choisir une paire ou l'autre en jouant le poids des cartes.</p>
</body>
</html>