<!DOCTYPE html>
<html>
<head>
	<title>Dissimulation</title>
	<meta charset="utf-8">
</head>
<style>
	@font-face {
    	font-family:"Ikaros";
    	src: url("../assets/fonts/Ikaros.otf");
	}

	html{
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	body{
		height: 100%;
		width: 100%;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction:column;
		font-family:"Ikaros";
		font-size:18px;
		color:white;
		text-align:center;
		padding:20px;
		background-color:black;
	}
</style>
<body>
	<p>Cette action vous permet de mettre deux cartes de côtées faces cachés qui ne seront dévoilées qu'à la fin de la manche.</p>
	<p>Ainsi votre adversaire ne pourra pas jouer la stratégie avec ces cartes puissent qu'ils ne connaît pas leur nature.</p>
</body>
</html>