{% extends 'base.html.twig' %}


   {% block title %}Accueil{% endblock %}


   {% block subtitle %}Bienvenue {{ app.user.username }} !{% endblock %}

   {% block content %}
       <h1>Bienvenue sur mon site</h1>

{% block body %}

{% endblock %}