{# templates/lucky/number.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
<h1>{{ 'je suis un footballeur'|upper }}</h1>
   <a href="{{ url('app_lucky_page') }} ">voir l'article</a>
    
{% endblock body%}