{# templates/lucky/page.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
<h1>je ne suis pas un footballeur</h1>
    <a href="{{ url('app_lucky_number') }} ">voir l'article</a>
{% endblock body%}