{% extends 'base.html.twig' %}

{% block body %}
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

        <h1>Classement</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet delectus, esse est et iure labore
        molestias placeat, repellendus, sapiente sed suscipit ut. Animi aut cupiditate ducimus iure, laborum neque ullam.
    lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet delectus, esse est et iure labore
        molestias placeat, repellendus, sapiente sed suscipit ut. Animi aut cupiditate ducimus iure, laborum neque ullam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet delectus, esse est et iure labore
        molestias placeat, repellendus, sapiente sed suscipit ut. Animi aut cupiditate ducimus iure, laborum neque ullam.
    </p>
        </div>
    </div>
</div>
{% endblock %}

{% block menu %}

{% endblock %}



